* {
    margin: 0;
    font-family: sans-serif;
    color: #ddd;
}

body {
    background-color: rgb(30,35,40);
    display: grid;
    grid-template-rows: auto 1fr;
}

top-bar {
    background-color: aqua;
}

pfp {
    background-color: beige;
}

username {
    background-color: blue;
}

#link-list {
    background-color: blueviolet;
}

#link-list > div {
    background-color: rgb(43, 226, 104);
    margin: 2px;
}